{% extends 'main/base.html' %}

{% block content %}
    <h1>Seznam produktů</h1>

    {% if category %}
        <h2>Kategorie: {{ category.name }}</h2>
    {% endif %}

    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 200px;">
                {% else %}
                    <p>Obrázek není k dispozici.</p>
                {% endif %}
                <h2><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></h2>
                <p><strong>Cena:</strong> {{ product.price }} Kč</p>
                <p>{{ product.description }}</p>
                <button>Přidat do košíku</button>
            </div>
        {% empty %}
            <p>Žádné produkty nejsou k dispozici.</p>
        {% endfor %}
    </div>
{% endblock %}
